<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Pridėti naują darbuotoją
        </div>
        <div class="card-body">
            <form (ngSubmit)="newEmployeeSubmit(f)" #f="ngForm">
                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label text-end">Vardas:</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" id="" class="form-control" [class.is-invalid]="!inputName.valid &&inputName.touched" ngModel required minlength="2" maxlength="32" pattern="[Ą-Ž\w\ ]*" #inputName="ngModel">
                        <div class="helper-block" *ngIf="!inputName.valid && inputName.touched">Vardas turi būti 2-32 raidžių ilgio.</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label text-end">Pavardė:</label>
                    <div class="col-sm-10">
                        <input type="text" name="surname" id="" class="form-control" [class.is-invalid]="!inputSurname.valid && inputSurname.touched" ngModel required minlength="2" maxlength="32" pattern="[Ą-Ž\w\ ]*" #inputSurname="ngModel">
                        <div class="helper-block" *ngIf="!inputSurname.valid && inputSurname.touched">Pavardė turi būti 2-32 raidžių ilgio.</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label text-end">Pozicija:</label>
                    <div class="col-sm-10">
                        <input type="text" name="position" id="" class="form-control" [class.is-invalid]="!inputPosition.valid && inputPosition.touched" ngModel required #inputPosition="ngModel">
                        <div class="helper-block" *ngIf="!inputPosition.valid && inputPosition.touched">Prašome įvesti poziciją.</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label text-end">El.paštas:</label>
                    <div class="col-sm-10">
                        <input type="text" name="email" id="" class="form-control" [class.is-invalid]="!inputEmail.valid && inputEmail.touched" ngModel required email #inputEmail="ngModel">
                        <div class="helper-block" *ngIf="!inputEmail.valid && inputEmail.touched">Prašome įvesti el.paštą.</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="" class="col-sm-2 col-form-label text-end">Gimimo metai:</label>
                    <div class="col-sm-10">
                        <input type="number" name="birthYear" id="" class="form-control" [class.is-invalid]="!inputBirthYear.valid && inputBirthYear.touched" ngModel required birthYearValidator #inputBirthYear="ngModel">
                        <div class="helper-block" *ngIf="!inputBirthYear.valid && inputBirthYear.touched">Prašome įvesti gimimo metus. Darbuotojas privalo būti pilnametis.</div>
                    </div>
                </div>
                <div class="offset-sm-2">
                    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Pridėti naują darbuotoją</button>
                </div>


            </form>

        </div>
    </div>

</div>